/* line 4, /home/balus/OWN/qcms/app/styles/sass/main.sass */
body {
  margin: 0;
  overflow-x: hidden; }

/* line 9, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.qcms-form-input {
  border-radius: 0;
  border: 1px solid #9c56fc; }
  /* line 13, /home/balus/OWN/qcms/app/styles/sass/main.sass */
  .qcms-form-input:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b988fd;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b988fd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b988fd; }

/* line 18, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.btn-qcms {
  background-color: #6404e8;
  border-radius: 0;
  color: #fff;
  margin-left: 4px;
  outline: none; }
  /* line 25, /home/balus/OWN/qcms/app/styles/sass/main.sass */
  .btn-qcms:hover {
    background-color: #fff;
    border: 1px solid #6404e8;
    color: #6404e8; }

/* line 30, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.btn-qcms-reverse {
  background-color: #fff;
  border: 1px solid #6404e8;
  border-radius: 0;
  color: #6404e8;
  outline: none; }

/* line 37, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.btn-qcms-icon {
  font-size: 12pt;
  padding: 10px; }
  /* line 41, /home/balus/OWN/qcms/app/styles/sass/main.sass */
  .btn-qcms-icon:hover {
    background-color: #fff;
    border: 1px solid #6404e8;
    color: #6404e8; }

/* line 46, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.btn-list-fix {
  margin: 4px; }

/* line 49, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.btn-qcms-element {
  font-size: 12pt; }
  /* line 52, /home/balus/OWN/qcms/app/styles/sass/main.sass */
  .btn-qcms-element:hover {
    background-color: #fff;
    border: 1px solid #6404e8;
    color: #6404e8; }

/* line 57, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.qcms-dropdown-menu {
  border-radius: 0;
  color: #6404e8; }

/* line 61, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.qcms-alert-fade-in {
  animation-name: alert-fade-in;
  animation-duration: .8s;
  animation-fill-mode: forwards; }

@keyframes alert-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* line 73, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.qcms-alert-fade-out {
  animation-name: alert-fade-out;
  animation-duration: .8s;
  animation-fill-mode: forwards; }

@keyframes alert-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* line 85, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.qcms-nav-icon {
  color: #6404e8;
  cursor: pointer;
  font-size: 20pt;
  font-weight: lighter;
  margin: 0; }
  /* line 92, /home/balus/OWN/qcms/app/styles/sass/main.sass */
  .qcms-nav-icon:hover {
    color: #9c56fc; }

/* line 95, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.qcms-input-error {
  border: solid 1px #d9534f !important;
  animation-name: nope;
  animation-duration: .5s;
  animation-fill-mode: forwards; }
  /* line 101, /home/balus/OWN/qcms/app/styles/sass/main.sass */
  .qcms-input-error:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e27c79;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e27c79;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e27c79; }

@keyframes nope {
  0% {
    transform: none; }
  25% {
    transform: translate(5px); }
  50% {
    transform: translate(-5px); }
  75% {
    transform: translate(5px); }
  100% {
    transform: none; } }

/* line 122, /home/balus/OWN/qcms/app/styles/sass/main.sass */
.qcms-profile-img {
  border: solid 1px #6404e8;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 2px; }

/* line 8, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.main {
  background-color: #f2f2f2; }

/* line 11, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.fixed-background {
  background-color: #f2f2f2;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -9; }

/* line 18, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.document-contener {
  padding: 2%; }

/* line 21, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.document {
  background: #fff;
  border: solid 1px;
  box-shadow: 4px 4px 2px #888;
  display: block;
  height: auto;
  padding: 6%;
  position: relative;
  width: 100%; }

/* line 31, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.document-textarea {
  background-color: #fff;
  border: 0;
  height: auto;
  resize: none;
  width: 100%; }
  /* line 38, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
  .document-textarea:focus {
    outline: none; }

/* line 41, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.template-element {
  margin-top: 24px; }

/* line 44, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.document-ribbon {
  background-color: #6404e8;
  color: #fff;
  cursor: default;
  font-size: 10pt;
  height: auto;
  left: 0;
  min-width: 20%;
  opacity: .5;
  padding: 8px 16px;
  position: absolute;
  top: 0; }
  /* line 57, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
  .document-ribbon:hover {
    opacity: .8; }

/* line 60, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.login-form-section {
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-name: login-fade-in;
  margin: 0 auto;
  padding-top: 222px; }

@keyframes login-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* line 74, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.login-checkbox {
  color: #6404e8;
  cursor: pointer; }
  /* line 78, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
  .login-checkbox:hover {
    color: #7e24fb; }

/* line 81, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.github-footer {
  bottom: 12px;
  display: block;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

/* line 89, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.github-link {
  color: inherit;
  opacity: .5; }
  /* line 93, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
  .github-link:hover {
    opacity: .7; }

/* line 96, /home/balus/OWN/qcms/app/styles/sass/app.component.sass */
.brand-footer {
  color: inherit;
  cursor: default;
  opacity: .5; }
