/* line 3, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
body {
  margin: 0;
  overflow-x: hidden; }

/* line 8, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
.qcms-form-input {
  border-radius: 0;
  border: 1px solid #9c56fc; }
  /* line 12, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
  .qcms-form-input:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b988fd;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b988fd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b988fd; }

/* line 17, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
.btn-qcms {
  background-color: #6404e8;
  border-radius: 0;
  color: #fff;
  outline: none; }

/* line 23, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
.btn-qcms-reverse {
  background-color: #fff;
  border: 1px solid #6404e8;
  border-radius: 0;
  color: #6404e8;
  outline: none; }

/* line 30, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
.btn-qcms-icon {
  font-size: 12pt;
  padding: 10px; }
  /* line 34, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
  .btn-qcms-icon:hover {
    background-color: #fff;
    border: 1px solid #6404e8;
    color: #6404e8; }

/* line 39, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
.btn-qcms-element {
  font-size: 12pt; }
  /* line 42, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
  .btn-qcms-element:hover {
    background-color: #fff;
    border: 1px solid #6404e8;
    color: #6404e8; }

/* line 47, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
.btn-qcms-cta {
  margin: 8px 0; }
  /* line 50, /home/qcza/Projekty/qCMS/app/styles/sass/main.sass */
  .btn-qcms-cta:hover {
    background-color: #fff;
    border: 1px solid #6404e8;
    color: #6404e8; }

/* line 10, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.brand {
  bottom: 6px;
  color: #fff;
  cursor: default;
  font-size: 8pt;
  left: 10px;
  position: absolute; }

/* line 18, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar {
  background-color: #6404e8;
  display: block;
  height: 100%;
  position: fixed;
  width: 66px;
  z-index: 2; }

/* line 26, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar-element {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 26px;
  height: 66px;
  padding: 20px;
  text-align: center;
  width: 66px; }
  /* line 36, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
  .left-bar-element:hover {
    background-color: #7e24fb; }

/* line 39, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar-element-bottom {
  bottom: 28px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 26px;
  height: 66px;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 66px; }
  /* line 52, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
  .left-bar-element-bottom:hover {
    background-color: #7e24fb; }

/* line 56, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar-element-active {
  background-color: #7e24fb; }

/* line 59, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar-extend-hide {
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-name: hide-left-bar;
  background-color: #fff;
  border-right: 1px solid #6404e8;
  height: 100%;
  left: -300px;
  position: fixed;
  width: 366px;
  z-index: 1; }

@keyframes hide-left-bar {
  0% {
    left: 0; }
  25% {
    left: 8px; }
  100% {
    left: -300px; } }

/* line 82, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar-extend-show {
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-name: show-left-bar;
  background-color: #fff;
  border-right: 1px solid #6404e8;
  height: 100%;
  left: -300px;
  position: fixed;
  width: 366px;
  z-index: 1; }

@keyframes show-left-bar {
  0% {
    left: -300px; }
  25% {
    left: -292px; }
  75% {
    left: 8px; }
  100% {
    left: 0; } }

/* line 107, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar-extend-element {
  background-color: #fff;
  cursor: pointer;
  color: #6404e8;
  font-size: 11pt;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  z-index: 2; }
  /* line 117, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
  .left-bar-extend-element:hover {
    background-color: #6404e8;
    color: #fff; }
  /* line 121, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
  .left-bar-extend-element .left-bar-extend-element-icon {
    font-size: 14pt; }

/* line 124, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar-content {
  background-color: #fff;
  color: #6404e8;
  position: absolute;
  left: 66px;
  width: 299px;
  z-index: 1; }

/* line 132, /home/qcza/Projekty/qCMS/app/styles/sass/leftbar.component.sass */
.left-bar-form {
  padding: 20px; }
