@import main

//variables
$bar-width: 300px

.right-bar-show
  background-color: #ccc
  display: block
  height: 100%
  position: fixed
  right: 0
  width: $bar-width

.right-bar-hide
  background-color: #ccc
  display: block
  height: 100%
  position: fixed
  right: 0 - $bar-width
  width: $bar-width