<div class="fixed-background"></div>

<div class="row main" *ngIf="sessionId">
  <div class="col-sm-1 col-md-3">
    <left-bar 
      (onSelectScenario)="onSelectScenario($event)" 
      (onSelectTemplate)="onSelectTemplate($event)" 
      (onSelectDocument)="onSelectDocument($event)"
      (onSignOut)="onSignOut($event)"
      [templateAdded]='templateAdded'
      [templateDeleted]='templateDeleted'
      [templateEdited]='templateEdited'
      [documentAdded]="documentAdded"
      [documentDeleted]="documentDeleted"
      [documentEdited]="documentEdited"
      [document]="document">
    </left-bar>
  </div>
  <div class="col-sm-10 col-md-6 document-contener">
    <div class="template-element" *ngFor="let element of template.elements">
      <div class="document" *ngIf="element.type === 'header'">
        <div class="document-ribbon"><i class="fa fa-{{element.icon}}"></i>&nbsp;&nbsp;{{element.title}} <small>({{element.value.length}})</small></div>
        <textarea class="document-textarea" rows="1" [(ngModel)]="element.value" autofocus></textarea>
      </div>
      <div class="document" *ngIf="element.type === 'text'">
        <div class="document-ribbon"><i class="fa fa-{{element.icon}}"></i>&nbsp;&nbsp;{{element.title}} <small>({{element.value.length}})</small></div>
        <textarea class="document-textarea" rows="16" [(ngModel)]="element.value" autofocus></textarea>
      </div>
      <div class="document" *ngIf="element.type === 'picture'">
        <div class="document-ribbon"><i class="fa fa-{{element.icon}}"></i>&nbsp;&nbsp;{{element.title}}</div>
        <textarea class="document-textarea" rows="8" [(ngModel)]="element.value" placeholder="#ToDo Picture Element" autofocus></textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-3">
    <right-bar
      [scenario]="scenario" 
      [template]="template" 
      [document]="document" 
      (onRefresh)="onRefresh($event)" 
      (onAddTemplate)="onAddTemplate($event)" 
      (onDeleteTemplate)="onDeleteTemplate($event)" 
      (onEditTemplate)="onEditTemplate($event)" 
      (onAddDocument)="onAddDocument($event)" 
      (onDeleteDocument)="onDeleteDocument($event)"
      (onEditDocument)="onEditDocument($event)">
    </right-bar>
  </div>
</div>

<div class="row login-page" *ngIf="!sessionId">
  <div class="col-sm-4 col-md-5"></div>
  <div class="col-sm-4 col-md-2 login-form-section">
    <form name="login-form">
      <div class="form-group">
        <input id="login-field" name="login-field" class="form-control qcms-form-input" type="text" placeholder="login" [(ngModel)]="loginForm.login" [ngClass]="{'qcms-input-error': loginErr}">
      </div>
      <div class="form-group">
        <input id="pw-field" name="pw-field" class="form-control qcms-form-input" type="password" placeholder="password" [(ngModel)]="loginForm.pw" [ngClass]="{'qcms-input-error': loginErr}">
      </div>
      <div class="form-group">
        <button class="btn btn-qcms pull-right" [disabled]="loginForm.login.length === 0 || loginForm.pw.length === 0" (click)="signIn()">Sign In</button>
        <label class="login-checkbox" (click)="remember = !remember">Remember me <i class="fa" [ngClass]="{'fa-circle-o': !remember, 'fa-check-circle-o': remember}"></i></label>
      </div>
    </form>
    <p *ngIf="loginErr">
      <ngb-alert [dismissible]="false" [type]="'danger'">
        Wrong login or password
      </ngb-alert>
    </p>
  </div>
  <div class="col-sm-4 col-md-5"></div>
</div>

<template ngbModalContainer></template>

