<div class="left-bar">
  <div class="left-bar-element" (click)="selectDefaultDocument(documents)" [ngClass]="{'left-bar-element-active': active === 'all'}">
    <i class="fa fa-inbox"></i>
  </div>
  <div class="left-bar-element" (click)="selectDefaultTemplate(templates)" [ngClass]="{'left-bar-element-active': active === 'new'}">
    <i class="fa fa-file"></i>
  </div>
  <div class="left-bar-element-bottom" (click)="extendBar('admin')" [ngClass]="{'left-bar-element-active': active === 'admin'}">
    <i class="fa fa-cogs"></i>
  </div>
  <div class="left-bar-brand">
    <span class="brand">{{brand}}</span>
  </div>
</div>

<div [ngClass]="{'left-bar-extend-show': extend === 'show', 'left-bar-extend-hide': extend == 'hide'}">
  <div id="allDocumentsScenario" *ngIf="scenario === 'all'">
    <div class="left-bar-content">
      <div class="left-bar-extend-element" [ngClass]="{'document-template-selected': document.is_selected === true}" *ngFor="let document of documents" (click)="selectRightBarScenario('editDocument');selectDocument(document)"><i class="left-bar-extend-element-icon fa fa-file-o"></i>&nbsp;&nbsp;{{document.title}} <small>({{document.date.slice(0,10)}})</small></div>
      <div class="left-bar-extend-element list-empty" *ngIf="!documents || documents.length === 0">Nothing to do here :(</div>
    </div>
  </div>
  <div id="newDocumentScenario" *ngIf="scenario === 'new'">
    <div class="left-bar-content left-bar-form">
      <form name="newDocument">
        <div class="form-group">
          <label for="documentTemplates">Templates</label>
          <div id="documentTemplates">
            <div class="document-template" [ngClass]="{'document-template-selected': template.is_selected === true}" *ngFor="let template of templates" (click)="selectTemplate(template);">
              <i class="fa" [ngClass]="{'fa-file-o': template.is_default === false, 'fa-heart-o': template.is_default === true}"></i>&nbsp;&nbsp;{{template.name}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="adminScenario" *ngIf="scenario === 'admin'">
    <div class="left-bar-content">
      <div class="left-bar-extend-element" *ngFor="let element of settingMenu" [ngClass]="{'left-bar-extend-element-selected': element.is_selected === true}" (click)="selectSettingElement(element);"><i class="left-bar-extend-element-icon fa {{element.icon}}"></i>&nbsp;&nbsp;{{element.title}}</div>
    </div>
  </div>
</div>