<div [ngClass]="{'right-bar-show': show === 'show', 'right-bar-hide': show === 'hide', 'right-bar': show === 'default'}">
  <div class="extend-bar" (click)="showBar()">
    <i class="fa" [ngClass]="{'fa-chevron-left': show === 'hide' || show === 'default', 'fa-chevron-right': show === 'show'}"></i>
  </div>
  <div class="right-bar-content">
    <div class="newTemaplateForm" *ngIf="scenario==='newTemplate'">
      <form name="newTemplate">
        <div class="form-group">
          <label for="templateName">Template name</label>
          <input id="templateName" name="templateName" class="form-control qcms-form-input" type="text" [(ngModel)]="templateName">
        </div>
        <div class="form-group">
          <label for="templateElements">Elements</label>
          <div class="template-element" *ngFor="let element of templateElements">
            <i class="template-element-icon fa" [ngClass]="{'fa-font': element.type === 'text', 'fa-picture-o': element.type === 'picture'}"></i>{{element.type}}
            <button class="btn btn-qcms template-element-btn" (click)="removeElement(element.index)"><i class="fa fa-minus"></i></button>
          </div>
          <div class="template-element" ngbDropdown>
            <span class="dropdown-element" ngbDropdownToggle><i class="template-element-icon fa" [ngClass]="{'fa-font': chosenElement.type === 'text', 'fa-picture-o': chosenElement.type === 'picture'}"></i>{{chosenElement.type}}</span>
            <button class="btn btn-qcms template-element-btn" (click)="addElement(chosenElement)"><i class="fa fa-plus"></i></button>
            <ul class="dropdown-menu qcms-dropdown-menu">
              <li class="drodown-menu-element" *ngFor="let element of elementsList" (click)="choseElement(element);"><i class="template-element-icon fa" [ngClass]="{'fa-font': element.type === 'text', 'fa-picture-o': element.type === 'picture'}"></i>{{element.type}}</li>
            </ul>
          </div>
          <button class="btn btn-qcms btn-qcms-cta pull-right" (click)="saveTemplate()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>