<div [ngClass]="{'right-bar-show': show === 'show', 'right-bar-hide': show === 'hide', 'right-bar': show === 'default'}">
  <div class="extend-bar" (click)="showBar()">
    <i class="fa" [ngClass]="{'fa-chevron-left': show === 'hide' || show === 'default', 'fa-chevron-right': show === 'show'}"></i>
  </div>
  <div class="right-bar-content">
    <div class="newTemaplateForm" *ngIf="scenario==='newTemplate'">
      <form name="newTemplate">
        <div class="form-group">
          <label for="templateName">Template name</label>
          <input id="templateName" name="templateName" class="form-control qcms-form-input" type="text" [(ngModel)]="templateName">
        </div>
        <div class="form-group">
          <label for="templateElements">Elements</label>
          <div class="template-element" *ngFor="let element of templateElements">
            <i class="template-element-icon fa fa-{{element.icon}}"></i>{{element.title}}
            <button class="btn btn-qcms template-element-btn" (click)="removeElement(element.index)"><i class="fa fa-minus"></i></button>
          </div>
          <div class="template-element" ngbDropdown>
            <span class="dropdown-element" ngbDropdownToggle><i class="template-element-icon-no-margin fa fa-{{chosenElement.icon}}"></i></span>
            <input class="template-element-title-input" type="text" [(ngModel)]="chosenElement.title" name="chosenElementTitle" placeholder="Enter title">
            <button class="btn btn-qcms template-element-btn" (click)="addElement(chosenElement)" [disabled]="chosenElement.title === ''"><i class="fa fa-plus"></i></button>
            <ul class="dropdown-menu qcms-dropdown-menu">
              <li class="drodown-menu-element" *ngFor="let element of elementsList" (click)="choseElement(element);"><i class="template-element-icon fa fa-{{element.icon}}"></i>{{element.type}}</li>
            </ul>
          </div>
          <button class="btn btn-qcms btn-qcms-cta pull-right" (click)="saveTemplate()" [disabled]="templateName === '' || templateElements.length === 0">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>